<footer class="footer" role="contentinfo">
  <div class="container footer__container">
    <div class="footer__block">
      <div class="footer__logo">
        <div class="footer__logo-icon">
          <a
            href="#header"
            class="icon-footer-logo link link-style icon-logo nav-link"
            aria-label="logo"
          >
            <span class="footer__logo-span">Dream Beats</span>
          </a>
        </div>
      </div>
      <nav class="footer-navigation" role="navigation">
        <ul class="footer-navigation__list list">
          <li class="footer-navigation__list-item">
            <a class="link-style link link-style nav-link" href="#about">About</a>
          </li>
          <li class="footer-navigation__list-item">
            <a class="link-style link nav-link" href="#color">Color</a>
          </li>
          <li class="footer-navigation__list-item">
            <a class="link-style link nav-link" href="#characteristics">Characteristics</a>
          </li>
          <li class="footer-navigation__list-item">
            <a class="link-style link nav-link" href="#buy">Buy</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-contacts">
      <h3 class="footer-contacts__title">Contacts:</h3>
      <ul class="footer-contacts__list list">
        <li class="footer-contacts__list-item">
          <a href="www.dreambeats.com" class="link-style link">www.dreambeats.com</a>
        </li>
        <li class="footer-contacts__list-item">
          <a href="mailto:dreambeats@mple.com" class="link-style link">dreambeats@mple.com</a>
        </li>
      </ul>
    </div>
    <div class="footer-block-social">
      <div class="footer-social">
        <ul class="footer-social__list list">
          <li class="footer-social__list-item">
            <a
              href="https://www.instagram.com/"
              class="footer-social__list-link icon-instagram"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="instagram"
            >
            </a>
          </li>
          <li class="footer-social__list-item">
            <a
              href="https://web.telegram.org/"
              class="footer-social__list-link link icon-telegram"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="telegram"
            >
            </a>
          </li>
          <li class="footer-social__list-item">
            <a
              href="https://www.youtube.com/"
              class="footer-social__list-link link icon-youtube"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="youtube"
            >
            </a>
          </li>
          <li class="footer-social__list-item">
            <a
              href="https://facebook.com/"
              class="footer-social__list-link link icon-facebook"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="facebook"
            >
            </a>
          </li>
          <li class="footer-social__list-item">
            <a
              href="https://www.linkedin.com/"
              class="footer-social__list-link link icon-linkedin"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="linkedin"
            >
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__copy icon-softryzen"></div>
    </div>
  </div>
</footer>
