<footer class="footer">
  <div class="container footer__container">
    <div class="footer__block">
      <div class="footer__logo">
        <div class="footer__logo-icon">
          <a href="#" class="icon-footer-logo link link-footer">
            <icon class="icon-logo"></icon>
            <span class="footer__logo-span">Dream Beats</span>
          </a>
        </div>
      </div>
      <nav class="footer-navigation">
        <ul class="footer-navigation__list list">
          <li class="footer-navigation__list-item">
            <a class="link-footer link link-footer" href="#about">About</a>
          </li>
          <li class="footer-navigation__list-item">
            <a class="link-footer link" href="#color">Color</a>
          </li>
          <li class="footer-navigation__list-item">
            <a class="link-footer link" href="#characteristics">Characteristics</a>
          </li>
          <li class="footer-navigation__list-item">
            <a class="link-footer link" href="#buy">Buy</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-contacts">
      <h4 class="footer-contacts__title">Contacts:</h4>
      <ul class="footer-contacts__list list">
        <li class="footer-contacts__list-item">
          <a href="www.dreambeats.com" class="link-footer link">www.dreambeats.com</a>
        </li>
        <li class="footer-contacts__list-item">
          <a href="mailto:dreambeats@mple.com link" class="link-footer link">dreambeats@mple.com</a>
        </li>
      </ul>
    </div>
    <div class="footer-block-social">
      <div class="footer-social">
        <ul class="footer-social__list list">
          <li class="footer-social__list-item">
            <a
              href="#"
              class="footer-social__list-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <icon class="icon-instagram"></icon>
            </a>
          </li>
          <li class="footer-social__list-item">
            <a
              href="#"
              class="footer-social__list-link link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <icon class="icon-telegram"></icon>
            </a>
          </li>
          <li class="footer-social__list-item">
            <a
              href="#"
              class="footer-social__list-link link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <icon class="icon-youtube"></icon>
            </a>
          </li>
          <li class="footer-social__list-item">
            <a
              href="#"
              class="footer-social__list-link link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <icon class="icon-facebook"></icon>
            </a>
          </li>
          <li class="footer-social__list-item">
            <a
              href="#"
              class="footer-social__list-link link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <icon class="icon-linkedin"></icon>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__copy">
        <icon class="icon-softryzen"></icon>
      </div>
    </div>
  </div>
</footer>
