<header class="header" id="header">
  <div class="container header__container">
    <a class="link link-style icon-logo-header" href="#" aria-label="logo">
      <span class="logo__title">Dream Beats</span>
    </a>
    {% include 'components/nav-menu.html' %}
    <button type="button" class="mobile-menu-btn" data-menu-btn aria-label="open mobile menu">
      <svg class="mobile-menu-svg" width="20" height="20" aria-label="mobile menu">
        <use href="./assets/images/sprite.svg#icon-burger" />
      </svg>
    </button>
  </div>
  {% include 'components/mobile-menu.html' %}
</header>
