<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal-container">
      <svg class="close-icon" data-modal-close aria-label="zamknij menu">
        <use href="./assets/images/sprite.svg#icon-close"></use>
      </svg>
      <div class="modal-content">
        <form class="contact-form" action="#">
          <h2 class="section-title modal__title">We will call you back</h2>

          <input
            class="contact-form-input"
            id="name"
            type="text"
            name="name"
            placeholder="Your Name"
            required
          />

          <input
            class="contact-form-input"
            id="phone"
            type="tel"
            name="phone"
            placeholder="Your Phone"
            required
          />

          <button class="send__btn btn" type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
