.container {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: auto;
  margin-left: auto;


  @include mq(mobile) {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
  }

  @include mq(tablet) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include mq(desktop) {
    max-width: 1440px;
    padding-left: 112px;
    padding-right: 112px;
  }
}
