.section {
  padding-top: 40px;
  padding-bottom: 40px;

  @include mq(tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.section:last-child{
  padding-bottom: 80px;

  @include mq(tablet) {
    padding-bottom: 100px;
  }
}
