.about {
  background-color: var(--primary-bg);
}

.about__wrapper {
  padding-top: 20px;
  padding-bottom: 24px;
  background-image: url(../images/about/mobile/bg@1x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  border: 1px solid red;
    @include mq(retina) {
      background-image: url(../images/about/mobile/bg@2x.png);
      }

  @include mq(tablet) {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../images/about/tablet/bg@1x.png);
    @include mq(retina) {
      background-image: url(../images/about/tablet/bg@2x.png);
      }
  }

  @include mq(desktop) {
    background-image: url(../images/about/bg@1x.png);
  }
    @include mq(retina) {
      background-image: url(../images/about/bg@2x.png);
      }
}


.about__list {
  @include mq(tablet) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  @include mq(desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

  }
}

.about__item {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(0, 181, 253);

  @include mq(tablet) {
    margin-top: 40px;
  }
}

.about__icon {
  width: 140px;
  height: 140px;
  border: 1px solid rgb(84, 247, 125);
}

.about__title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--primary-txt-cl);
  text-align: center;
}

.about__articles {
  margin-top: 80px;
  border: 1px solid yellow;

  @include mq(desktop) {
    margin-top: 100px;
  }
}

.about__item__articles {
  border: 1px solid yellow;
  background-image: url(../images/about/mobile/bg-1@1x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
    @include mq(retina) {
      background-image: url(../images/about/mobile/bg-1@2x.png);
      }

  @include mq(tablet) {
  background-image: url(../images/about/tablet/bg-1@1x.png);
    @include mq(retina) {
      background-image: url(../images/about/tablet/bg-1@2x.png);
      }
  }

  @include mq(desktop) {
    display: flex;
    justify-content: space-between;
    background-image: url(../images/about/bg-1@1x.png);
  }
    @include mq(retina) {
      background-image: url(../images/about/bg-1@2x.png);
      }
}

.about__item__articles:not(:first-child) {
  margin-top: 40px;
}

.about__item__articles:nth-child(2n + 1) {
  border-bottom-right-radius: 130px;

  @include mq(tablet) {
    border-bottom-right-radius: 300px;
  }
}
.about__item__articles:nth-child(2n) {
  border-bottom-left-radius: 130px;

  @include mq(tablet) {
    border-bottom-left-radius: 300px;
  }
  @include mq(desktop) {
    flex-direction: row-reverse;
  }
}

.about__image__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 216px;
  border: 1px solid rgb(230, 27, 172);

  @include mq(tablet) {
    height: 548px;
    align-items: center;
    justify-content: flex-end;
  }
}

.about__image {
  border: 1px solid red;
  }

.about__articles__thumb {
  padding: 20px 20px 32px 20px;
  border: 1px solid rgb(4, 255, 180);

  @include mq(tablet) {
    padding: 40px 184px 60px 43px;
  }
  @include mq(desktop) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 40px;
    width: 556px;
  }
  }

.about__text__wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.about__title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;

  @include mq(tablet) {
    font-size: 32px;
  }
}

.about__title--pink {
  color: var(--accent-cl);
}
.about__title--blue {
  color: var(--secondary-accent-cl);
}
.about__title--third {
width: 170px;

  @include mq(tablet) {
    width: 400px;
  }
}

.about__text {
  margin-top: 16px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-txt-cl);
  text-align: center;

  @include mq(tablet) {
    margin-top: 24px;
    font-size: 20px;
  }
}

.about__text--left {
@include mq(mobile-only) {
  text-align: left;
}
}

.about__text--subtitle {
  @include mq(tablet) {
    margin: 0 auto;
    margin-top: 24px;
    width: 480px;
  }
}

