.btn {
  font-size: 20px;
  font-weight: 600;
  display: block;
  padding: 16px 72px;
  cursor: pointer;
  border-radius: 30px;
  color: var(--btn-txt-cl);
  background-image: var(--normal-gradient-bg);
  transition: background-image var(--fast) linear;
  width: 100%;
  text-align: center;

  @include mq(tablet) {
    max-width: 232px;
  }

  &:hover,
  &:focus {
    background-image: var(--hover-gradient-bg);
  }
  &:active {
    background-image: var(--active-gradient-bg);
  }
}
