.btn {
  font-size: 20px;
  font-weight: 600;
  display: block;
  padding: 16px 72px;

  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
  color: var(--btn-txt-cl);
  background-image: var(--normal-gradient-bg);
  transition: background-image var(--fast) linear;

  &:hover,
  &:focus {
    background-image: var(--hover-gradient-bg);
  }
  &:active {
    background-image: var(--active-gradient-bg);
  }
}
