.buy {
  background-color: var(--primary-bg);
  &__container {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 16px;
    background-image: url(../images/buy/mobile-section-container-bg@1x.png);
    background-image: url(../images/buy/mobile-section-container-bg@1x.webp);
    @include mq(retina) {
      background-image: url(../images/buy/mobile-section-container-bg@2x.png);
      background-image: url(../images/buy/mobile-section-container-bg@2x.webp);
    }
  }
  &__slick-container {
    width: 272px;
    margin-bottom: 30px;
    background-image: url(../images/buy/mobile-bg-gradient@1x.png);
    background-image: url(../images/buy/mobile-bg-gradient@1x.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include mq(retina) {
      background-image: url(../images/buy/mobile-bg-gradient@2x.png);
      background-image: url(../images/buy/mobile-bg-gradient@2x.webp);
    }
  }
  &__image-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
  }
  &__slider-image {
    position: relative;
    width: 208px;
    height: 208px;
    margin-right: 8px;
    & .slick-prev {
      position: absolute;
      display: none;
      opacity: 0;
      pointer-events: none;
      top: 250px;
      left: 188px;
    }
    & .slick-next {
      position: absolute;
      width: 17px;
      height: 36px;
      z-index: 1;
      top: 250px;
      left: 198px;
      &:before {
        content: '';
        position: absolute;
        right: -4px;
        top: 9px;
        width: 24px;
        border-bottom: 1px solid var(--primary-txt-cl);
        transform: rotate(45deg);
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 9px;
        right: -4px;
        width: 24px;
        border-bottom: 1px solid var(--primary-txt-cl);
        transform: rotate(-45deg);
      }
    }
  }

  &__color-list-item {
    border-radius: 6px;
    &:nth-child(1) {
      color: var(--blue-hp);
      background-color: var(--blue-hp);
    }
    &:nth-child(2) {
      color: var(--purple-hp);
      background-color: var(--purple-hp);
    }
    &:nth-child(3) {
      color: var(--black-hp);
      background-color: var(--black-hp);
    }
    &:nth-child(4) {
      color: var(--violet-hp);
      background-color: var(--violet-hp);
    }
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &__color-button {
    position: relative;
    display: block;
    width: 12px;
    height: 12px;

    &.current {
      &:before {
        opacity: 1;
      }
    }
    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      right: -4px;
      top: -4px;
      border: 1px solid;
      border-radius: 10px;
      opacity: 0;
    }
  }
  &__slider-nav {
    width: 190px;
    height: 60px;
    margin-left: 20px;
    & .buy__image {
      width: 60px;
      height: 60px;
    }

    & .slick-slide {
      width: 60px;
      height: 60px;
      position: relative;
      cursor: pointer;
      border: 1px solid #000;
      border-radius: 12px;

      &:not(:last-child) {
        margin-right: 4px;
      }
      &.slick-current {
        border: none;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 12px;
          border: 1px solid transparent;
          background: var(--normal-gradient-bg) border-box;
          -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
          -webkit-mask-composite: destination-out;
          mask-composite: exclude;
        }
      }
    }
  }
  &__features-list {
    margin-left: 24px;
    list-style: initial;
    margin-bottom: 8px;
  }
  &__features-list-text {
    font-size: 16px;
  }
  &__link {
    font-size: 18px;
    text-decoration: underline;
  }
  &__btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 32px;
  &__old-price {
    position: relative;
    font-family: var(--title-font);
    font-size: 24px;
    line-height: 1.25;
    color: var(--black-txt-cl);
    &:before {
      content: '';
      display: block;
      width: 82px;
      position: absolute;
      top: 12px;
      left: 0;

      border-bottom: 1px solid var(--black-txt-cl);
      transform: rotate(-21.5deg);
    }
  }
  &__new-price {
    font-family: var(--title-font);
    font-size: 40px;
    line-height: 1.25;
    background-image: var(--normal-gradient-bg);
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}
