@import '../vendors/slick';
@import '../vendors/slick-theme';

.buy {
  background-color: var(--primary-bg);
  // &__title {
  //   font-family: var(--title-font);
  //   // font-family: var(--main-font);
  //   font-weight: 400;
  //   font-size: 20px;
  //   line-height: 25px;
  //   color: var(--primary-txt-cl);
  // }
  &__slick-container {
    width: 280px;
    height: 270px;
  }
  &__image-flex-container {
    display: flex;
    align-items: center;
  }
  &__slider-image {
    position: relative;
    width: 168px;
    margin-bottom: 5px;
  }
  &__color-list-item {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
  &__color-button {
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 6px;
  }
  &__slider-nav {
    width: 192px;
    & .slick-slide {
      width: 60px;
      height: 60px;
      cursor: pointer;
      border: 1px solid #000;
      border-radius: 12px;

      &:not(:last-child) {
        margin-right: 4px;
      }
    }
    & .slick-current {
      border-color: #fff;
    }
  }
}
.slick-prev {
  display: none;
  opacity: 0;
  pointer-events: none;
}
.slick-next {
  position: absolute;
  width: 17px;
  height: 36px;
  z-index: 1;
  top: 242px;
  // bottom: 0px;
  right: -47px;
  &:before {
    content: '';
    position: absolute;
    right: -4px;
    top: 9px;
    width: 24px;
    border-bottom: 1px solid var(--primary-txt-cl);
    transform: rotate(45deg);
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 9px;
    right: -4px;
    width: 24px;
    border-bottom: 1px solid var(--primary-txt-cl);
    transform: rotate(-45deg);
  }
}
