// hero

.hero {
  padding: 24px 0 40px;

  &__title {
    margin: 0 auto 12px;

    font-family: var(--title-font);
    font-size: 36px;
    line-height: 1.22;
    text-align: center;
    font-weight: 400;

    background-clip: text;
    background: var(--normal-gradient-bg);
    text-shadow: var(--secondary-shadow);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (width < 768px) {
      width: 200px;
    }
  }

  .hero__container{

    @include mq(desktop) {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__img {
    margin: auto;

    @media (width < 768px) {
      width: 244px;
      height: 220px;
    }
  }

  &__subtitle {
    margin: 0 auto 20px;

    font-family: var(--title-font);
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    line-height: 1.25;

    color: var(--title-font);

    @media (width < 768px) {
      width: 240px;
    }
  }

  &__desktop-title {
    display: none;
  }

  &__btn-h3-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    display: block;

    margin-left: auto;
    margin-right: auto;
    padding: 16px 73px;

    @media (width < 768px) {
      margin-bottom: 20px;
    }
  }

  &__subsubtitle {
    margin: 0 auto;

    font-family: var(--title-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;

    color: var(--main-font);

    @media (width < 768px) {
      width: 165px;
    }
  }

  @include mq(tablet) {
    padding: 50px 0;

    &__title {
      margin-bottom: 20px;

      font-size: 64px;
      line-height: 1.23;
    }

    &__subtitle {
      margin-bottom: 24px;

      width: 600px;

      font-size: 40px;
      line-height: 1.23;
    }

    &__btn-h3-wrapper {
      flex-flow: column-reverse;
    }

    &__subsubtitle {
      margin-bottom: 40px;

      font-size: 24px;
      line-height: 1.25;
    }
  }

  @include mq(desktop) {
    padding: 40px 0 100px;

    &__title {
      display: none;
      margin-top: 70px;
      margin-bottom: 34px;
      margin-left: -13px;
    }

    &__img {
      margin-left: 32px;
    }

    &__slider-list {
      position: absolute;
      bottom: -4px;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__subtitle {
      text-align: start;
    }

    &__subsubtitle {
      margin-left: 0;
      margin-bottom: 60px;
    }

    &__btn {
      margin-left: -2px;
      margin-bottom: 24px;
    }

    &__desktop-title {
      display: block;
    }
  }
}

// slick
.hero__slider {
  position: relative;
  padding: 0;
  margin: 0 0 24px 0;

  &::after {
    content: '';

    position: absolute;
    z-index: -100;

    display: block;
    top: 31px;
    left: 14px;
    width: 187px;
    height: 187px;
    border-radius: 50%;

    background: var(--hero-img-bg);
    filter: blur(40px);

    @include mq(tablet) {
      top: 75px;
      left: 107px;
      width: 452px;
      height: 452px;
      filter: blur(100px);
    }

    @include mq(desktop) {
      top: 75px;
      left: 770px;
      width: 452px;
      height: 452px;
      filter: blur(100px);
    }
  }

  @include mq(desktop) {
    position: static;
    overflow: hidden;
  }

  @media (width > 767px) and (width < 1440px) {
    margin-bottom: 44px;
  }
}

.hero__slider{
  .slick-dots{
    margin-top: -8px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    @include mq(tablet){
      margin-top: 5px;
    }

    @include mq(desktop){
      position: absolute;
      bottom: -32px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .slick-dots li{
    height: 20px;
    width: 20px;
    list-style: none;
  }

  .slick-dots button{
    font-size: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .slick-dots{
    li:nth-child(3) button {
      background: radial-gradient(circle at center, var(--black-hp) 40%,
      transparent 40%);
    }
    li:nth-child(4) button {
      background: radial-gradient(circle at center, var(--violet-hp) 40%,
      transparent 40%);
    }
    li:nth-child(2) button {
      background: radial-gradient(circle at center, var(--purple-hp) 40%,
      transparent 40%);
    }
    li:nth-child(1) button {
      background: radial-gradient(circle at center, var(--blue-hp) 40%,
      transparent 40%);
    }
  }

  .slick-dots li:nth-child(3).slick-active button{
    border: 1px solid var(--black-hp);
  }

  .slick-dots li:nth-child(4).slick-active button{
    border: 1px solid var(--violet-hp);
  }

  .slick-dots li:nth-child(2).slick-active button{
    border: 1px solid var(--purple-hp);
  }

  .slick-dots li:nth-child(1).slick-active button{
    border: 1px solid var(--blue-hp);
  }
}

