.hero {
  position: relative;

  padding: 24px 0 40px;

  background-color: var(--primary-bg);
  overflow: hidden;

  ul,
  ol {
    list-style: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 12px;

    font-family: var(--title-font);
    font-size: 36px;
    line-height: 1.22;
    text-align: center;

    background-clip: text;
    background: var(--normal-gradient-bg);
    text-shadow: var(--secondary-shadow);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (width < 768px) {
      width: 200px;
    }
  }

  &__img-wrapper {
    position: relative;
    pointer-events: none;

    margin: 0 0 5px;
    padding: 0;

    &::after {
      content: '';

      position: absolute;
      top: 31.3px;
      right: 43.7px;

      display: block;
      width: 187px;
      height: 187px;

      border-radius: 50%;
      filter: blur(41.3662px);

      background: var(--hero-img-bg);

      @include mq(tablet) {
        top: 75px;
        right: 106px;

        width: 452px;
        height: 452px;

        filter: var(--hero-img-blur);
      }
    }
  }

  &__img {
    position: relative;
    z-index: 1;
    filter: var(--img-shadow);

    @media (width < 768px) {
      height: 217px;
    }
  }

  &__slider-list {
    display: flex;
    padding: 0;
    margin: 0 0 17px;
  }

  &__slider-item {
    position: relative;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__slider-btn {
    pointer-events: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  &__slider-item-active {
    &::after {
      position: absolute;
      top: 15%;
      left: -4px;

      content: '';
      pointer-events: none;

      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: var(--border);

      background-color: transparent;
    }
  }

  &__slider-btn--blue {
    background-color: var(--blue-bg);
  }

  &__slider-btn--pink {
    background-color: var(--pink-bg);
  }

  &__slider-btn--black {
    background-color: var(--black-bg);
  }

  &__slider-btn--violet {
    background-color: var(--violet-bg);
  }

  &__subtitle {
    margin-bottom: 20px;

    font-family: var(--title-font);
    text-align: center;
    font-size: 20px;
    line-height: 1.25;

    color: var(--title-font);

    @media (width < 768px) {
      width: 240px;
    }
  }

  &__btn-h3-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    margin-left: auto;
    margin-right: auto;

    @media (width < 768px) {
      margin-bottom: 20px;
    }
  }

  &__subsubtitle {
    margin: 0 auto;

    font-family: var(--title-font);
    font-size: 18px;
    line-height: 1.22;
    text-align: center;

    color: var(--main-font);

    @media (width < 768px) {
      width: 165px;
    }
  }

  &__desktop-title {
    display: none;
  }

  @include mq(tablet) {
    padding: 50px 0;

    &__title {
      margin-bottom: 20px;

      font-size: 64px;
      line-height: 1.23;
    }

    &__img-wrapper {
      margin: 0 0 15px;
    }

    &__slider-list {
      margin: 0 0 37px;
    }

    &__subtitle {
      margin-bottom: 24px;

      width: 600px;
      font-weight: 400;

      font-size: 40px;
      line-height: 1.23;
    }

    &__btn-h3-wrapper {
      flex-flow: column-reverse;
    }

    &__subsubtitle {
      margin-bottom: 40px;

      font-size: 24px;
      font-weight: 400;
      line-height: 1.25;
    }
  }

  @include mq(desktop) {
    padding: 40px 0 100px;

    &__container {
      flex-flow: row-reverse;
    }

    &__title {
      display: none;
      margin-bottom: 34px;
      margin-left: -13px;
    }

    &__img-wrapper {
      margin: 0;
    }

    &__img {
      margin-left: 32px;
    }

    &__slider-list {
      position: absolute;
      bottom: -4px;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__subtitle {
      text-align: start;
    }

    &__subsubtitle {
      margin-left: 0;
      margin-bottom: 60px;
    }

    &__btn {
      margin-left: -2px;
      margin-bottom: 24px;
    }

    &__desktop-title {
      display: block;
    }
  }
}
