.header__container {
  .nav {
    display: none;
    @include mq(tablet) {
      display: block;
    }
  }
  .nav-list {
    @include mq(tablet) {
      display: flex;
    }
  }
  .nav-item:not(:last-child) {
    @include mq(tablet) {
      margin-right: 40px;
    }
  }
  .nav-link {
    font-size: 16px;
    line-height: 1.25;
    font-family: var(--title-font);

    background: var(--normal-gradient-bg);
    background-clip: text;
    -webkit-background-clip: text;

    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0);
    }
  }
}
