.backdrop {
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(196, 196, 196, 0.1);
  backdrop-filter: blur(40px);
  z-index: 100;
  overflow: auto;
  transition: opacity 0.2s;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 272px;
  min-height: 375px;

  background-color: var(--translucent-bg);
  box-shadow: var(--primary-shadow);
  border-radius: 30px;

  transition: transform 0.3s linear 0.2s;

  @include mq(tablet) {
    max-width: 471px;
    min-height: 434px;
  }

  .is-hidden & {
    transform: translate(-50%, 100%) scale(0);
  }
}

.modal-container {
  position: relative;
  width: inherit;
  height: inherit;
  padding: 52px 20px 32px 20px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px;
    padding: 1px;
    z-index: -1;
    background: var(--normal-gradient-bg);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    }

    @include mq(tablet) {
      padding: 48px 52px 44px 52px;
    }
}

.btn-close {
  position: absolute;
  right: 7px;
  top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  // background-image: url('../images/icon-close.svg');
  background-color: #fff;
  outline: none;

  &:focus {
    border: 1.5px solid rgba(255, 255, 255, 0.75);
  }
}

.send__btn {
  margin-top: 40px !important;
  margin: 0 auto;

  @include mq(tablet) {
    margin-top: 52px;
  }
}

.modal-content {
  width: 232px;

  @include mq(tablet) {
    width: 367px;
    }
}

.modal__title {
  margin-bottom: 0px;
  line-height: 1.25;
}

.contact-form-input {
  width: 100%;
  height: 50px;
  margin-top: 32px;
  padding: 15px 25px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-txt-cl);
  
  border: 1px solid var(--primary-txt-cl);
  border-radius: 30px;
  background-color: transparent;
  outline: none;

  @include mq(tablet) {
    margin-top: 44px;
  }
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;

  fill: var(--primary-txt-cl);
  width: 24px;
  height: 24px;
  cursor: pointer;

  @include mq(tablet) {
    top: 16px;
    right: 24px;
    }
}

// FORM VALIDATION
.form-control span {
  visibility: hidden;
}

.form-control.error span {
  visibility: visible;
  display: block;
  width: 232px;
  padding-left: 25px;
  color: #DC2626;

  @include mq(tablet) {
      width: 367px;
    }
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #DC2626;
}