.popup {
  visibility: visible;
  opacity: 1;
  top: 30%;
  min-height: 166px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s linear 0.2s;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 100%) scale(0);
  }

  @include mq(tablet) {
    top: 40%;
    min-height: 192px;
  }
  @include mq(desktop) {
    top: 30%;
  }
}

.popup-container {
  @include mq(tablet) {
    padding: 48px 0px 32px 0px;
  }
}

.popup-title {
  margin-bottom: 24px;
  width: 100%;
  background: var(--normal-gradient-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include mq(tablet) {
    margin-bottom: 32px;
  }
}

