.products-wrapper{
  padding-top: 40px;
  padding-bottom: 40px;

  box-shadow: 0px -3px 44px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.products__title {
  @include mq(tablet) {
    margin-bottom: 40px;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;

  @include mq(tablet) {
    gap: 40px;
  }
}

.list {

}

.products__item {
  position: relative;
  width: 260px;

  text-align: center;
  text-transform: capitalize;
}

.products__image-wrapper{
  margin-bottom: 20px;
}

.products__image-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  top: 73px;
  left: 54px;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  filter: blur(100px);
}

.image-wrapper--black::after{
  background-color: var(--grey-bg);
}

.image-wrapper--violet::after{
  background-color: var(--violet-bg);
}

.image-wrapper--purple::after{
  background-color: var(--purple-bg);
}

.image-wrapper--blue::after{
  background-color: var(--blue-bg);
}


.products__image {
}

.products__meta{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  font-size: 20px;
}

.products__meta::before {
  content: '';
  display: inline-flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.products__item:nth-child(1)>.products__meta::before{
  background-color: var(--black-hp);
}

.products__item:nth-child(2)>.products__meta::before{
  background-color: var(--violet-hp);
}

.products__item:nth-child(3)>.products__meta::before{
  background-color: var(--purple-hp);
}

.products__item:nth-child(4)>.products__meta::before{
  background-color: var(--blue-hp);
}