@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  --accent-cl: #ff5bcb;
  --secondary-accent-cl: #48c8ff;

  /* TEXT COLORS */
  --primary-txt-cl: #f5f5f5;
  --secondary-txt-cl: #d1d1d1;
  --black-txt-cl: #000000;
  --primary-txt-rgb: #{HexToRGB(#f5f5f5)};
  --secondary-txt-rgb: #{HexToRGB(#d1d1d1)};
  --black-txt-rgb: #{HexToRGB(#000000)};
  --btn-txt-cl: #242424;

  /* BACKGROUND COLORS */
  --primary-bg: #242424;
  --blue-bg: #0077aa;
  --black-bg: #000;
  --purple-bg: #cf45b0;
  --pink-bg: #7a0554;
  --violet-bg: #823fbd;
  --grey-bg: #938c99;
  --hero-img-bg: linear-gradient(74.52deg, #0077aa 5.65%, #ff4488 113.53%);
  --normal-gradient-bg: linear-gradient(77.39deg, #48c8ff -19.9%, #ff5bcb 104.31%);
  --hover-gradient-bg: linear-gradient(74.28deg, #48c8ff 44.69%, #ff5bcb 114.25%);
  --active-gradient-bg: linear-gradient(74.28deg, #48c8ff -11.75%, #ff5bcb 35.9%);
  --hero-img-blur: blur(100px);

  --translucent-bg: rgba(36, 36, 36, 0.4);

  /*HEADPHONES COLORS*/
  --black-hp: #000000;
  --violet-hp: #823fbd;
  --purple-hp: #7a0554;
  --blue-hp: #14709e;

  /* BORDER */
  --border: 1px solid #0077aa;

  /* SHADOW */
  --primary-shadow: 0px -3px 44px rgba(0, 0, 0, 0.25);
  --secondary-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  --img-shadow: drop-shadow(24px 32px 28px rgba(0, 0, 0, 0.33));

  /* FONTS */
  --main-font: 'Poppins', sans-serif;
  --title-font: 'ProstoOne', sans-serif;

  /* ANIMATIONS SPEED */
  --fast: 0.2s;
  --slow: 0.4s;
}
