@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  --accent-cl: #FF5BCB;
  --secondary-accent-cl: #48C8FF;

  /* TEXT COLORS */
  --primary-txt-cl: #F5F5F5;
  --secondary-txt-cl: #D1D1D1;
  --black-txt-cl: #000000;
  --primary-txt-rgb: #{HexToRGB(#F5F5F5)};
  --secondary-txt-rgb: #{HexToRGB(#D1D1D1)};
  --black-txt-rgb: #{HexToRGB(#000000)};

  /* BACKGROUND COLORS */
  --primary-bg: #242424;
  --translucent-bg: rgba(36, 36, 36, 0.4);
  --blue-bg:#0077AA;
  --purple-bg:#CF45B0;
  --violet-bg: #823FBD;
  --grey-bg: #938C99;
  --normal-gradient-bg: linear-gradient(77.39deg, #48C8FF -19.9%, #FF5BCB 104.31%);
  --hover-gradient-bg: linear-gradient(74.28deg, #48C8FF 44.69%, #FF5BCB 114.25%);
  --active-gradient-bg: linear-gradient(74.28deg, #48C8FF -11.75%, #FF5BCB 35.9%);
  --translucent-bg: rgba(36, 36, 36, 0.4);

  /*HEADPHONES COLORS*/
  --black-hp:#000000;
  --violet-hp:#823FBD;
  --purple-hp: #7A0554;
  --blue-hp: #14709E;

  /* BORDER */

  /* SHADOW */
  --primary-shadow: 0px -3px 44px rgba(0, 0, 0, 0.25);

  /* FONTS */
  --main-font: 'Poppins', sans-serif;
  --title-font: 'ProstoOne', sans-serif;

  /* ANIMATIONS SPEED */
  --fast: 0.2s;
  --slow: 0.4s;
}
