.footer {
  color: var(--primary-txt-cl);
  font-family: var(--title-font);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  padding-bottom: 24px;
  padding-top: 24px;
  box-shadow: var(--primary-shadow);

  @include mq(tablet) {
    display: flex;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  &__container {
    @include mq(tablet) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
    }
    @include mq(desktop) {
      position: relative;
    }
  }
  &__block {
    @include mq(tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
      width: 100%;
    }
    @include mq(desktop) {
      margin-bottom: 20px;
    }
  }
  &__logo {
    width: 202px;
    line-height: 0;
    margin: 0 auto;
    @include mq(tablet) {
      // float: left;
      margin: 0 0;
    }
  }

  &__logo-icon {
    width: 202px;
  }

  &__logo-span {
    margin-left: 12px;
    font-size: 20px;
    line-height: 1.25;
  }

  &__copy {
    font-family: var(--main-font);
    color: var(--secondary-txt-cl);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    @include mq(tablet) {
      text-align: right;
    }
  }
}

.icon-footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq(tablet) {
    justify-content: left;
  }
}
.footer-navigation {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    @include mq(mobile-only) {
      column-gap: 20px;
      row-gap: 16px;
    }
    @include mq(tablet) {
      margin-top: 0;
    }
  }

  &__list-item {
    @include mq(mobile) {
      line-height: 1.25;
    }
    @include mq(tablet) {
      margin-bottom: 0px;
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}
.footer-contacts {
  text-align: center;
  margin-bottom: 20px;
  @include mq(mobile-only) {
    margin-top: 32px;
  }
  @include mq(tablet) {
    text-align: left;
    margin-bottom: 0px;
  }
  @include mq(desktop) {
    position: absolute;
    left: 423px;
    top: 12px;
  }
  &__title {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    @include mq(tablet) {
      margin-bottom: 8px;
      line-height: 1.25;
    }
    @include mq(desktop) {
      margin-bottom: 12px;
    }
  }

  &__list {
    font-family: var(--main-font);
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
.footer-block-social {
  line-height: 0;
  @include mq(desktop) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
  }
}
.footer-social {
  text-align: center;
  @include mq(tablet-only) {
    margin-bottom: 36px;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 37px;

    @include mq(tablet) {
      margin-bottom: 25px;
    }
    @include mq(desktop) {
      margin-bottom: 0px;
    }
  }

  &__list-item {
    transition: all var(--fast) ease-in-out;
    &:not(:last-child) {
      margin-right: 16px;
    }
    &:hover,
    &:focus,
    &:focus-within {
      transform: scale(1.2);
    }
  }

  &__list-link {
    font-size: 32px;
    text-decoration: none;
    transition: all var(--fast) ease-in-out;
    background-image: var(--normal-gradient-bg);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    &:hover,
    &:focus {
      background-image: var(--hover-gradient-bg);
    }
    &:active {
      background-image: var(--active-gradient-bg);
    }
  }
}

.icon-logo {
  font-size: 48px;
}

