.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: relative;
  padding: 20px 0;
  z-index: 100;

  box-shadow: var(--primary-shadow);

  @include mq(tablet) {
    padding: 12px 0;
  }
}

.mobile-menu-btn {
  display: flex;
  align-items: center;

  @include mq(tablet) {
    display: none;
  }
}

.icon-logo-header {
  font-size: 32px;
  margin-right: 8px;
  @include mq(tablet-only) {
    font-size: 48px;
    margin-right: 12px;
  }
  @include mq(desktop) {
    margin-right: 12px;
  }
}
