.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 20px 0;

  background-color: var(--primary-bg);
  box-shadow: var(--primary-shadow);

  @include mq(tablet) {
    padding: 12px 0;
  }
}

.mobile-menu-btn {
  display: flex;
  align-items: center;

  @include mq(tablet) {
    display: none;
  }
}
