.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: relative;
  padding: 20px 0;
  z-index: 100;

  box-shadow: var(--primary-shadow);

  @include mq(tablet) {
    padding: 12px 0;
  }
  &__logo {
    display: flex;
  }
}

.mobile-menu-btn {
  display: flex;
  align-items: center;

  @include mq(tablet) {
    display: none;
  }
}

.icon-logo-header {
  display: flex;
  align-items: center;
  font-size: 32px;
  @include mq(tablet-only) {
    font-size: 48px;
  }
}

.logo {
  &__container {
    display: flex;
    align-items: center;
  }

  &__title {
    font-family: var(--title-font);
    font-size: 16px;
    line-height: 1.25;
    margin-left: 8px;
    @include mq(tablet) {
      font-size: 20px;
      margin-left: 12px;
    }
  }
}
