<section class="section about" id="about">
  <!-- SVG INLINE -->
  <div class="visually-hidden">
    {% include 'components/inline-svg-about.html' %}
  </div>

  <div class="container">
    <div class="about__wrapper">
    <div class="about__text__wrapper">
      <h2 class="section-title">Dream Beats 3.0</h2>
      <p class="subtitle about__text">
        Wireless noise over-ear headphones delivers premium sound while bloking extremal noise with
        Active Noise Cancelling.
      </p>
      </div>
      <ul class="list about__list">
        <li class="about__item">
          <svg class="about__icon">
            <use href="#icon-circle" style="visibility:visible; width: 140; height: 140;"></use>
          </svg>
          <!-- <img class="about__icon" src="./assets/images/about/svg/supports.svg" alt="supports" /> -->
          <p class="subtitle about__text--icons">Supports <br /> Spatial Audio</p>
        </li>
        <li class="about__item">
          <svg class="about__icon">
            <use href="#processor"></use>
          </svg>
          <!-- <img class="about__icon" src="./assets/images/about/svg/processor.svg" alt="processor" /> -->
          <p class="subtitle about__text--icons">Apple W1 <br /> Headphone Chip</p>
        </li>
        <li class="about__item">
          <svg class="about__icon">
            <use href="#phone"></use>
          </svg>
          <!-- <img class="about__icon" src="./assets/images/about/svg/lg-optimus-3d.svg" alt="mobile" /> -->
          <p class="subtitle about__text--icons">Compatible with <br /> Apple and Android</p>
        </li>
        <li class="about__item">
          <svg class="about__icon">
            <use href="#battery"></use>
          </svg>
          <!-- <img class="about__icon" src="./assets/images/about/svg/battery.svg" alt="battery" /> -->
          <p class="subtitle about__text--icons">Up to 22 hours of <br /> Listening time</з>
        </li>
      </ul>
    </div>

    <ul class="list about__articles">
      <li class="about__articles__item">
        <div class="about__articles__thumb about__articles__thumb--left">
          <h2 class="section-title section-title--pink">Spatial Audio</h2>
          <p class="subtitle about__text about__text--first-article">
            Dream Beats 3.0 Wireless supports spatial audio for immersive music – delivering a
            surround sound experience that you can take with you anywhere.*
          </p>
        </div>
        <!-- DESCTOP -->
        <picture class="about__image__wrapper-desktop">
          <source
          srcset="
            ./assets/images/about/desktop/spatial-audio@1x.webp 1x,
            ./assets/images/about/desktop/spatial-audio@2x.webp 2x
          "
          media="(min-width: 1440px)"
          type="image/webp"
        />
        <source
          srcset="
            ./assets/images/about/desktop/spatial-audio@1x.png 1x,
            ./assets/images/about/desktop/spatial-audio@2x.png 2x
          "
          media="(min-width: 1440px)"
          type="image/png"
        />

          <img
            class="about__image"
            src="./assets/images/about/desktop/spatial-audio@1x.png"
            alt="about-image"
            loading="lazy"
          />
        </picture>

        <!-- MOBILE TABLET -->
        <picture class="about__image__wrapper">
          <source
            srcset="
              ./assets/images/about/spatial-audio@1x.webp 1x,
              ./assets/images/about/spatial-audio@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/about/spatial-audio@1x.png 1x,
              ./assets/images/about/spatial-audio@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/about/mobile/spatial-audio@1x.webp 1x,
              ./assets/images/about/mobile/spatial-audio@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/about/mobile/spatial-audio@1x.png 1x,
              ./assets/images/about/mobile/spatial-audio@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

            <img
              class="about__image"
              src="./assets/images/about/spatial-audio@1x.png"
              alt="about-image"
              loading="lazy"
            />
        </picture>
      </li>
      <li class="about__articles__item">
        <div class="about__articles__thumb">
          <h2 class="section-title section-title--blue section-title--left">Designed to Fit You</h2>
          <p class="subtitle about__text about__text--articles">
            Dream Beats 3.0 Wireless headphones are engineered for all-day comfort. The holistic
            design is lightweight, durable, and comfortable, so you can get lost in your music.
          </p>
        </div>
        <!-- DESCTOP -->
        <picture class="about__image__wrapper-desktop about__image__wrapper-desktop-left">
          <source
          srcset="
            ./assets/images/about/desktop/designed-to-fit-you@1x.webp 1x,
            ./assets/images/about/desktop/designed-to-fit-you@2x.webp 2x
          "
          media="(min-width: 1440px)"
          type="image/webp"
        />
        <source
          srcset="
            ./assets/images/about/desktop/designed-to-fit-you@1x.png 1x,
            ./assets/images/about/desktop/designed-to-fit-you@2x.png 2x
          "
          media="(min-width: 1440px)"
          type="image/png"
        />

          <img
            class="about__image"
            src="./assets/images/about/desktop/designed-to-fit-you@1x.png"
            alt="about-image"
            loading="lazy"
          />
        </picture>

        <!-- MOBILE TABLET -->
        <picture class="about__image__wrapper">
          <source
            srcset="
              ./assets/images/about/designed-to-fit-you@1x.webp 1x,
              ./assets/images/about/designed-to-fit-you@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/about/designed-to-fit-you@1x.png 1x,
              ./assets/images/about/designed-to-fit-you@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/about/mobile/designed-to-fit-you@1x.webp 1x,
              ./assets/images/about/mobile/designed-to-fit-you@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/about/mobile/designed-to-fit-you@1x.png 1x,
              ./assets/images/about/mobile/designed-to-fit-you@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <img
            class="about__image"
            src="./assets/images/about/designed-to-fit-you@1x.png"
            alt="about-image"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="about__articles__item">
        <div class="about__articles__thumb about__articles__thumb--left">
          <h2 class="section-title section-title--pink section-title--third">
            Enhanced by Apple W1
          </h2>
          <p class="subtitle about__text about__text--articles">
            The Apple W1 headphone chip brings seamless setup and switching for your Apple
            devices, so you can easily move about, keep the music going, and stay productive all
            day.
          </p>
        </div>
        <!-- DESCTOP -->
        <picture class="about__image__wrapper-desktop">
          <source
          srcset="
            ./assets/images/about/desktop/enhanced-by-apple@1x.webp 1x,
            ./assets/images/about/desktop/enhanced-by-apple@2x.webp 2x
          "
          media="(min-width: 1440px)"
          type="image/webp"
        />
        <source
          srcset="
            ./assets/images/about/desktop/enhanced-by-apple@1x.png 1x,
            ./assets/images/about/desktop/enhanced-by-apple@2x.png 2x
          "
          media="(min-width: 1440px)"
          type="image/png"
        />

          <img
            class="about__image"
            src="./assets/images/about/desktop/enhanced-by-apple@1x.png"
            alt="about-image"
            loading="lazy"
          />
        </picture>

        <!-- MOBILE TABLET -->
        <picture class="about__image__wrapper">
          <source
            srcset="
              ./assets/images/about/enhanced-by-apple@1x.webp 1x,
              ./assets/images/about/enhanced-by-apple@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/about/enhanced-by-apple@1x.png 1x,
              ./assets/images/about/enhanced-by-apple@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/about/mobile/enhanced-by-apple@1x.webp 1x,
              ./assets/images/about/mobile/enhanced-by-apple@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/about/mobile/enhanced-by-apple@1x.png 1x,
              ./assets/images/about/mobile/enhanced-by-apple@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <img
            class="about__image"
            src="./assets/images/about/enhanced-by-apple@1x.png"
            alt="about-image"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="about__articles__item">
        <div class="about__articles__thumb">
          <h2 class="section-title section-title--blue section-title--left">
            Up to 22 HOURS <br />
            OF LISTENING TIM
          </h2>
          <p class="subtitle about__text about__text--articles">
            With Fast Fuel, a quick 10-minute charge provides 3 hours of playback.
          </p>
        </div>
        <!-- DESKTOP -->
        <picture class="about__image__wrapper-desktop about__image__wrapper-desktop-left">
          <source
          srcset="
            ./assets/images/about/desktop/up-to-22-hours@1x.webp 1x,
            ./assets/images/about/desktop/up-to-22-hours@2x.webp 2x
          "
          media="(min-width: 1440px)"
          type="image/webp"
        />
        <source
          srcset="
            ./assets/images/about/desktop/up-to-22-hours@1x.png 1x,
            ./assets/images/about/desktop/up-to-22-hours@2x.png 2x
          "
          media="(min-width: 1440px)"
          type="image/png"
        />

          <img
            class="about__image"
            src="./assets/images/about/desktop/up-to-22-hours@1x.png"
            alt="about-image"
            loading="lazy"
          />
        </picture>

        <!-- MOBILE TABLET -->
        <picture class="about__image__wrapper">
          <source
            srcset="
              ./assets/images/about/up-to-22-hours@1x.webp 1x,
              ./assets/images/about/up-to-22-hours@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/about/up-to-22-hours@1x.png 1x,
              ./assets/images/about/up-to-22-hours@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <source
            srcset="
              ./assets/images/about/mobile/up-to-22-hours@1x.webp 1x,
              ./assets/images/about/mobile/up-to-22-hours@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/about/mobile/up-to-22-hours@1x.png 1x,
              ./assets/images/about/mobile/up-to-22-hours@1x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <img
            class="about__image"
            src="./assets/images/about/up-to-22-hours@1x.png"
            alt="about-image"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
