<section class="section buy" id="buy">
  <div class="container">
    <div class="buy__section-wrapper">
      <h2 class="buy__section-title section-title">About this item</h2>
      <div class="buy__slick-container">
        <div class="buy__image-flex-container">
          <div class="buy__slider-image">
            <picture>
              <source
                srcset="
                  ./assets/images/buy/mobile-blue-1@1x.webp 1x,
                  ./assets/images/buy/mobile-blue-1@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/buy/mobile-blue-1@1x.png 1x,
                  ./assets/images/buy/mobile-blue-1@2x.png 2x
                "
                media="(max-width: 767px)"
                type="image/png"
              />

              <source
                srcset="
                  ./assets/images/buy/desc-blue-1@1x.webp 1x,
                  ./assets/images/buy/desc-blue-1@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/buy/desc-blue-1@1x.png 1x,
                  ./assets/images/buy/desc-blue-1@2x.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />

              <img
                class="buy__image"
                src="./assets/images/buy/mobile-blue-1@1x.png"
                alt="blue headphones"
                loading="lazy"
              />
            </picture>

            <picture>
              <source
                srcset="
                  ./assets/images/buy/mobile-blue-2@1x.webp 1x,
                  ./assets/images/buy/mobile-blue-2@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/buy/mobile-blue-2@1x.png 1x,
                  ./assets/images/buy/mobile-blue-2@2x.png 2x
                "
                media="(max-width: 767px)"
                type="image/png"
              />

              <source
                srcset="
                  ./assets/images/buy/desc-blue-2@1x.webp 1x,
                  ./assets/images/buy/desc-blue-2@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/buy/desc-blue-2@1x.png 1x,
                  ./assets/images/buy/desc-blue-2@2x.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />

              <img
                class="buy__image"
                src="./assets/images/buy/mobile-blue-2@1x.png"
                alt="blue headphones"
                loading="lazy"
              />
            </picture>

            <picture>
              <source
                srcset="
                  ./assets/images/buy/mobile-blue-3@1x.webp 1x,
                  ./assets/images/buy/mobile-blue-3@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/buy/mobile-blue-3@1x.png 1x,
                  ./assets/images/buy/mobile-blue-3@2x.png 2x
                "
                media="(max-width: 767px)"
                type="image/png"
              />

              <source
                srcset="
                  ./assets/images/buy/desc-blue-3@1x.webp 1x,
                  ./assets/images/buy/desc-blue-3@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/buy/desc-blue-3@1x.png 1x,
                  ./assets/images/buy/desc-blue-3@2x.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />

              <img
                class="buy__image"
                src="./assets/images/buy/mobile-blue-3@1x.png"
                alt="blue headphones"
                loading="lazy"
              />
            </picture>

            <picture>
              <source
                srcset="
                  ./assets/images/buy/mobile-blue-4@1x.webp 1x,
                  ./assets/images/buy/mobile-blue-4@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/buy/mobile-blue-4@1x.png 1x,
                  ./assets/images/buy/mobile-blue-4@2x.png 2x
                "
                media="(max-width: 767px)"
                type="image/png"
              />

              <source
                srcset="
                  ./assets/images/buy/desc-blue-4@1x.webp 1x,
                  ./assets/images/buy/desc-blue-4@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/buy/desc-blue-4@1x.png 1x,
                  ./assets/images/buy/desc-blue-4@2x.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />

              <img
                class="buy__image"
                src="./assets/images/buy/mobile-blue-4@1x.png"
                alt="blue headphones"
                loading="lazy"
              />
            </picture>
          </div>
          <ul class="buy__color-list list">
            <li class="buy__color-list-item">
              <button type="button" data-color="blue" class="buy__color-button current"></button>
            </li>
            <li class="buy__color-list-item">
              <button type="button" data-color="purple" class="buy__color-button"></button>
            </li>
            <li class="buy__color-list-item">
              <button type="button" data-color="black" class="buy__color-button"></button>
            </li>
            <li class="buy__color-list-item">
              <button type="button" data-color="violet" class="buy__color-button"></button>
            </li>
          </ul>
        </div>

        <div class="buy__slider-nav">
          <picture>
            <source
              srcset="
                ./assets/images/buy/mobile-blue-1@1x.webp 1x,
                ./assets/images/buy/mobile-blue-1@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/buy/mobile-blue-1@1x.png 1x,
                ./assets/images/buy/mobile-blue-1@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <source
              srcset="
                ./assets/images/buy/desc-blue-1@1x.webp 1x,
                ./assets/images/buy/desc-blue-1@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/buy/desc-blue-1@1x.png 1x,
                ./assets/images/buy/desc-blue-1@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />

            <img
              class="buy__image"
              src="./assets/images/buy/mobile-blue-1@1x.png"
              alt="blue headphones mini"
              loading="lazy"
            />
          </picture>

          <picture>
            <source
              srcset="
                ./assets/images/buy/mobile-blue-2@1x.webp 1x,
                ./assets/images/buy/mobile-blue-2@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/buy/mobile-blue-2@1x.png 1x,
                ./assets/images/buy/mobile-blue-2@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <source
              srcset="
                ./assets/images/buy/desc-blue-2@1x.webp 1x,
                ./assets/images/buy/desc-blue-2@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/buy/desc-blue-2@1x.png 1x,
                ./assets/images/buy/desc-blue-2@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />

            <img
              class="buy__image"
              src="./assets/images/buy/mobile-blue-2@1x.png"
              alt="blue headphones mini"
              loading="lazy"
            />
          </picture>

          <picture>
            <source
              srcset="
                ./assets/images/buy/mobile-blue-3@1x.webp 1x,
                ./assets/images/buy/mobile-blue-3@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/buy/mobile-blue-3@1x.png 1x,
                ./assets/images/buy/mobile-blue-3@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <source
              srcset="
                ./assets/images/buy/desc-blue-3@1x.webp 1x,
                ./assets/images/buy/desc-blue-3@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/buy/desc-blue-3@1x.png 1x,
                ./assets/images/buy/desc-blue-3@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />

            <img
              class="buy__image"
              src="./assets/images/buy/mobile-blue-3@1x.png"
              alt="blue headphones mini"
              loading="lazy"
            />
          </picture>

          <picture>
            <source
              srcset="
                ./assets/images/buy/mobile-blue-4@1x.webp 1x,
                ./assets/images/buy/mobile-blue-4@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/buy/mobile-blue-4@1x.png 1x,
                ./assets/images/buy/mobile-blue-4@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <source
              srcset="
                ./assets/images/buy/desc-blue-4@1x.webp 1x,
                ./assets/images/buy/desc-blue-4@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/buy/desc-blue-4@1x.png 1x,
                ./assets/images/buy/desc-blue-4@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />

            <img
              class="buy__image"
              src="./assets/images/buy/mobile-blue-4@1x.png"
              alt="blue headphones mini"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="buy__content-container">
        <ul class="buy__features-list">
          <li class="buy__features-list-item">
            <p class="buy__features-list-text">
              High-performance wireless noise cancelling headphones
            </p>
          </li>
          <li class="buy__features-list-item">
            <p class="buy__features-list-text">Compatible with iOS and Android devices.</p>
          </li>
          <li class="buy__features-list-item">
            <p class="buy__features-list-text">
              Pure adaptive noise canceling (pure ANC) actively blocks external noise
            </p>
          </li>
          <li class="buy__features-list-item">
            <p class="buy__features-list-text">
              Real-time Audio calibration preserves a Premium listening experience
            </p>
          </li>
          <li class="buy__features-list-item">
            <p class="buy__features-list-text">
              Up to 22 hours of battery life enables full-featured all-day wireless playback
            </p>
          </li>
          <li class="buy__features-list-item">
            <p class="buy__features-list-text">
              Apple's W1 chip and industry-leading Bluetooth technology keep you connected farther
              with fewer drop-outs.
            </p>
          </li>
        </ul>
        <div class="buy__price-flex-container">
          <div class="buy__price price">
            <p class="price__old-price">300$</p>
            <p class="price__new-price">180$</p>
          </div>
          <button class="buy__btn btn">Buy now</button>
        </div>
      </div>
    </div>
  </div>
</section>
