<section class="section buy" id="buy">
  <div class="container">
    <h2 class="buy__title">About this item</h2>
    <div class="buy__slick-container">
      <div class="buy__slider-image">
        <img src="../../../assets/images/buy/blue-1-3x.png" alt="blue headphones" />
        <img src="../../../assets/images/buy/blue-2-3x.png" alt="blue headphones" />
        <img src="../../../assets/images/buy/blue-3-3x.png" alt="blue headphones" />
      </div>
      <div class="buy__slider-nav">
        <img src="../../../assets/images/buy/blue-1.png" alt="blue headphones" />

        <img src="../../../assets/images/buy/blue-2.png" alt="blue headphones" />

        <img src="../../../assets/images/buy/blue-3.png" alt="blue headphones" />
      </div>
    </div>

    <ul></ul>
  </div>
</section>
