<section id="characteristics" class="section characteristics">
  <div class="container characteristics__container">
    <div class="characteristics__block">
      <h2 class="characteristics__title">Characteristics:</h2>
      <ul class="characteristics__list list">
        <li class="characteristics__item">Weight: 260 grams</li>
        <li class="characteristics__item">Height: 184mm</li>
        <li class="characteristics__item">
          Connectivity: Bluetooth, <br /><span class="characteristics__item-span"
            >Apple W1 chip</span
          >
        </li>
        <li class="characteristics__item">Microphones: 2 pieces</li>
        <li class="characteristics__item">
          Power connector: <span class="characteristics__item-span-second">microUSB</span>
        </li>
      </ul>
    </div>
    <div class="characteristics-device-one">
      <div class="characteristics-device-one__image">
        <picture>
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              assets/images/characteristics/mobile/characteristics-device-one.webp    1x,
              assets/images/characteristics/mobile/characteristics-device-one@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/png"
            srcset="
              assets/images/characteristics/mobile/characteristics-device-one.png    1x,
              assets/images/characteristics/mobile/characteristics-device-one@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              assets/images/characteristics/characteristics-device-one.webp    1x,
              assets/images/characteristics/characteristics-device-one@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/png"
            srcset="
              assets/images/characteristics/characteristics-device-one.png    1x,
              assets/images/characteristics/characteristics-device-one@2x.png 2x
            "
          />
          <img
            src="assets/images/characteristics/characteristics-device-one.png"
            alt="Device One"
            width="283"
            height="560"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="device-volume">
        <div class="device-volume__plus">
          <hr class="line-volume" />
          <svg class="device-volume__svg" width="24" height="24">
            <use xlink:href="assets/images/sprite.svg#icon-soundOn"></use>
          </svg>
        </div>
        <div class="device-volume__minus">
          <hr class="line-volume" />
          <svg class="device-volume__svg" width="24" height="24">
            <use xlink:href="assets/images/sprite.svg#icon-mute"></use>
          </svg>
        </div>
      </div>
      <div class="characteristics-device-one__body"></div>
      <div class="device-control">
        <div class="device-control__panel control-panel">
          <ul class="control-panel__list list">
            <li class="control-panel__item item">
              <svg class="control-panel__svg" width="36" height="24">
                <use xlink:href="assets/images/sprite.svg#icon-play"></use>
              </svg>
            </li>
            <li class="control-panel__item item">
              <svg class="control-panel__svg" width="44" height="24">
                <use xlink:href="assets/images/sprite.svg#icon-next"></use>
              </svg>
            </li>
            <li class="control-panel__item item">
              <svg class="control-panel__svg" width="52" height="24">
                <use xlink:href="assets/images/sprite.svg#icon-previous"></use>
              </svg>
            </li>
          </ul>
        </div>
        <div class="device-control__body">
          <p class="device-control__text">
            On-device controls <br />Use the “db” button on the left earcup to control your music.
          </p>
        </div>
      </div>
    </div>
    <div class="characteristics-device-two device-two-mobile">
      <div class="characteristics-device-two__image">
        <picture>
          <source
            media="(max-width: 767px)"
            type="image/webp"
            srcset="
              assets/images/characteristics/mobile/characteristics-device-two.webp    1x,
              assets/images/characteristics/mobile/characteristics-device-two@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            type="image/png"
            srcset="
              assets/images/characteristics/mobile/characteristics-device-two.png    1x,
              assets/images/characteristics/mobile/characteristics-device-two@2x.png 2x
            "
          />
          <img
            src="assets/images/characteristics/mobile/characteristics-device-two.png"
            alt="Device Two"
            width="232"
            height="227"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="device-two-battery">
        <p class="device-two-battery__text">5 LEDs showing battery charge.</p>
      </div>
      <div class="device-two-headphone">
        <p class="device-two-headphone__text">
          The headphone extension mechanism is made on the basis of metal plates.
        </p>
      </div>
    </div>
    <div class="characteristics-device-two device-two-tablet">
      <div class="characteristics-device-two__image">
        <picture>
          <source
            media="(min-width: 768px)"
            type="image/webp"
            srcset="
              assets/images/characteristics/characteristics-device-two.webp    1x,
              assets/images/characteristics/characteristics-device-two@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            type="image/png"
            srcset="
              assets/images/characteristics/characteristics-device-two.png    1x,
              assets/images/characteristics/characteristics-device-two@2x.png 2x
            "
          />
          <img
            src="assets/images/characteristics/characteristics-device-two.png"
            alt="Device Two"
            width="488"
            height="560"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="device-two-battery">
        <p class="device-two-battery__text">5 LEDs showing battery charge.</p>
      </div>
      <div class="device-two-headphone">
        <p class="device-two-headphone__text">
          The headphone extension mechanism is made on the basis of metal plates.
        </p>
      </div>
    </div>
  </div>
</section>
