<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">Dream Beats 3.0</h1>

    <div class="hero__slider">
      <div>
        <picture>
          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              ./assets/images/hero/mobile/headphones-blue.webp    1x,
              ./assets/images/hero/mobile/headphones-blue@2x.webp 2x
            "
          />

          <source
            type="image/png"
            media="(max-width: 767px)"
            srcset="
              ./assets/images/hero/mobile/headphones-blue.png    1x,
              ./assets/images/hero/mobile/headphones-blue@2x.png 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="
              ./assets/images/hero/tablet-desktop/headphones-blue.webp    1x,
              ./assets/images/hero/tablet-desktop/headphones-blue@2x.webp 2x
            "
          />

          <img
            class="hero__img"
            src="./assets/images/hero/tablet-desktop/headphones-blue.png"
            srcset="./assets/images/hero/tablet-desktop/headphones-blue@2x.png 2x"
            alt="blue headphones"
            width="592"
            height="527"
          />
        </picture>
      </div>

      <div>
        <picture>
          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              ./assets/images/hero/mobile/headphones-pink.webp    1x,
              ./assets/images/hero/mobile/headphones-pink@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              ./assets/images/hero/mobile/headphones-pink.png    1x,
              ./assets/images/hero/mobile/headphones-pink@2x.png 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="
              ./assets/images/hero/tablet-desktop/headphones-pink.webp    1x,
              ./assets/images/hero/tablet-desktop/headphones-pink@2x.webp 2x
            "
          />

          <img
            class="hero__img"
            src="./assets/images/hero/tablet-desktop/headphones-pink.png"
            srcset="./assets/images/hero/tablet-desktop/headphones-pink@2x.png 2x"
            alt="pink headphones"
            width="592"
            height="527"
            loading="lazy"
          />
        </picture>
      </div>

      <div>
        <picture>
          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              ./assets/images/hero/mobile/headphones-black.webp    1x,
              ./assets/images/hero/mobile/headphones-black@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              ./assets/images/hero/mobile/headphones-black.png    1x,
              ./assets/images/hero/mobile/headphones-black@2x.png 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="
              ./assets/images/hero/tablet-desktop/headphones-black.webp    1x,
              ./assets/images/hero/tablet-desktop/headphones-black@2x.webp 2x
            "
          />

          <img
            class="hero__img"
            src="./assets/images/hero/tablet-desktop/headphones-black.png"
            srcset="./assets/images/hero/tablet-desktop/headphones-black@2x.png 2x"
            alt="black headphones"
            width="592"
            height="527"
            loading="lazy"
          />
        </picture>
      </div>

      <div>
        <picture>
          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              ./assets/images/hero/mobile/headphones-violet.webp    1x,
              ./assets/images/hero/mobile/headphones-violet@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              ./assets/images/hero/mobile/headphones-violet.png    1x,
              ./assets/images/hero/mobile/headphones-violet@2x.png 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="
              ./assets/images/hero/tablet-desktop/headphones-violet.webp    1x,
              ./assets/images/hero/tablet-desktop/headphones-violet@2x.webp 2x
            "
          />

          <img
            class="hero__img"
            src="./assets/images/hero/tablet-desktop/headphones-violet.png"
            srcset="./assets/images/hero/tablet-desktop/headphones-violet@2x.png 2x"
            alt="violet headphones"
            width="592"
            height="527"
            loading="lazy"
          />
        </picture>
      </div>
    </div>

    <div class="hero__desktop-wrapper">
      <h2 class="hero__subtitle">Wireless Noise Cancelling Over-Ear Headphones</h2>

      <div class="hero__btn-h3-wrapper">
        <a href="#buy" class="hero__btn btn nav-link">Buy now</a>
        <h3 class="hero__subsubtitle">Hear the music. Not the noise.</h3>
      </div>
    </div>
  </div>
</section>
