<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">Dream Beats 3.0</h1>

    <div class="hero__slider">
      <div>
        <picture>
          <source
            type="image/webp"
            srcset="
              ./assets/images/hero/headphones-blue.webp    1x,
              ./assets/images/hero/headphones-blue@2x.webp 2x
            "
          />

          <img
            class="hero__img"
            src="./assets/images/hero/headphones-blue.png"
            srcset="./assets/images/hero/headphones-blue@2x.png 2x"
            alt="headphones"
          />
        </picture>
      </div>

      <div>
        <picture>
          <source
            type="image/webp"
            srcset="
              ./assets/images/hero/headphones-pink.webp    1x,
              ./assets/images/hero/headphones-pink@2x.webp 2x
            "
          />

          <img
            class="hero__img"
            src="./assets/images/hero/headphones-pink.png"
            srcset="./assets/images/hero/headphones-pink@2x.png 2x"
            alt="headphones"
          />
        </picture>
      </div>

      <div>
        <picture>
          <source
            type="image/webp"
            srcset="
              ./assets/images/hero/headphones-black.webp    1x,
              ./assets/images/hero/headphones-black@2x.webp 2x
            "
          />

          <img
            class="hero__img"
            src="./assets/images/hero/headphones-black.png"
            srcset="./assets/images/hero/headphones-black@2x.png 2x"
            alt="headphones"
          />
        </picture>
      </div>

      <div>
        <picture>
          <source
            type="image/webp"
            srcset="
              ./assets/images/hero/headphones-violet.webp    1x,
              ./assets/images/hero/headphones-violet@2x.webp 2x
            "
          />

          <img
            class="hero__img"
            src="./assets/images/hero/headphones-violet.png"
            srcset="./assets/images/hero/headphones-violet@2x.png 2x"
            alt="headphones"
          />
        </picture>
      </div>
    </div>

    <div class="hero__desktop-wrapper">
      <h1 class="hero__title hero__desktop-title">Dream Beats 3.0</h1>
      <h2 class="hero__subtitle">Wireless Noise Cancelling Over-Ear Headphones</h2>

      <div class="hero__btn-h3-wrapper">
        <button class="hero__btn btn">Buy now</button>
        <h3 class="hero__subsubtitle">Hear the music. Not the noise.</h3>
      </div>
    </div>
  </div>
</section>
