<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">Dream Beats 3.0</h1>

    <ul class="hero__img-wrapper">
      <!-- blue -->
      <li>
        <picture>
          <source
            type="image/webp"
            srcset="
              ./assets/images/hero/headphones-blue.webp    1x,
              ./assets/images/hero/headphones-blue@2x.webp 2x
            "
          />

          <source
            type="image/avif"
            srcset="
              ./assets/images/hero/headphones-blue.avif    1x,
              ./assets/images/hero/headphones-blue@2x.avif 2x
            "
          />

          <img
            class="hero__img"
            src="./assets/images/hero/headphones-blue.png"
            srcset="./assets/images/hero/headphones-blue@2x.png 2x"
            alt="headphones"
            width="100%"
          />
        </picture>
      </li>

      <!-- pink -->
      <li>
        <picture>
          <source
            type="image/webp"
            srcset="
              ./assets/images/hero/headphones-pink.webp    1x,
              ./assets/images/hero/headphones-pink@2x.webp 2x
            "
          />

          <source
            type="image/avif"
            srcset="
              ./assets/images/hero/headphones-pink.avif    1x,
              ./assets/images/hero/headphones-pink@2x.avif 2x
            "
          />

          <img
            class="hero__img visually-hidden"
            src="./assets/images/hero/headphones-pink.png"
            srcset="./assets/images/hero/headphones-pink@2x.png 2x"
            alt="headphones"
            width="100%"
          />
        </picture>
      </li>

      <!-- black -->
      <li>
        <picture>
          <source
            type="image/webp"
            srcset="
              ./assets/images/hero/headphones-black.webp    1x,
              ./assets/images/hero/headphones-black@2x.webp 2x
            "
          />

          <source
            type="image/avif"
            srcset="
              ./assets/images/hero/headphones-black.avif    1x,
              ./assets/images/hero/headphones-black@2x.avif 2x
            "
          />

          <img
            class="hero__img visually-hidden"
            src="./assets/images/hero/headphones-black.png"
            srcset="./assets/images/hero/headphones-black@2x.png 2x"
            alt="headphones"
            width="100%"
          />
        </picture>
      </li>

      <!-- violet -->
      <li>
        <picture>
          <source
            type="image/webp"
            srcset="
              ./assets/images/hero/headphones-violet.webp    1x,
              ./assets/images/hero/headphones-violet@2x.webp 2x
            "
          />

          <source
            type="image/avif"
            srcset="
              ./assets/images/hero/headphones-violet.avif    1x,
              ./assets/images/hero/headphones-violet@2x.avif 2x
            "
          />

          <img
            class="hero__img visually-hidden"
            src="./assets/images/hero/headphones-violet.png"
            srcset="./assets/images/hero/headphones-violet@2x.png 2x"
            alt="headphones"
            width="100%"
          />
        </picture>
      </li>
    </ul>

    <ul class="hero__slider-list">
      <li class="hero__slider-item hero__slider-item-active" data-action="blue">
        <button class="hero__slider-btn hero__slider-btn--blue" type="button"></button>
      </li>
      <li class="hero__slider-item" data-action="pink">
        <button class="hero__slider-btn hero__slider-btn--pink" type="button"></button>
      </li>
      <li class="hero__slider-item" data-action="black">
        <button class="hero__slider-btn hero__slider-btn--black" type="button"></button>
      </li>
      <li class="hero__slider-item" data-action="violet">
        <button class="hero__slider-btn hero__slider-btn--violet" type="button"></button>
      </li>
    </ul>

    <div class="hero__desktop-wrapper">
      <h1 class="hero__title hero__desktop-title">Dream Beats 3.0</h1>
      <h2 class="hero__subtitle">Wireless Noise Cancelling Over-Ear Headphones</h2>

      <div class="hero__btn-h3-wrapper">
        <button class="hero__btn btn">Buy now</button>
        <h3 class="hero__subsubtitle">Hear the music. Not the noise.</h3>
      </div>
    </div>
  </div>
</section>
