<nav class="nav">
  <ul class="list nav-list">
    <li class="nav-item">
      <a class="link nav-link link-style" href="#about" aria-label="about">About</a>
    </li>
    <li class="nav-item">
      <a class="link nav-link link-style" href="#color" aria-label="color">Color</a>
    </li>
    <li class="nav-item">
      <a class="link nav-link link-style" href="#characteristics" aria-label="characteristics"
        >Characteristics</a
      >
    </li>
    <li class="nav-item">
      <a class="link nav-link link-style" href="#buy" aria-label="buy">Buy</a>
    </li>
  </ul>
</nav>
