<div class="products-wrapper mobile">
  <div class="products">
    <h2 class="products__title section-title">4 Trendy Neon Color</h2>
    <ul class="products__list list slick-carousel">
      <li class="products__item slick-slide">
        <div class="products__image-wrapper image-wrapper--black">
          <img
            srcset="
              ./assets/images/products/headphones-black@1x.png 1x,
              ./assets/images/products/headphones-black@2x.png 2x
            "
            src="./assets/images/products/headphones-black@1x.png"
            alt="headphones in black color"
            class="products__image"
          />
        </div>
        <p class="products__meta">black</p>
      </li>
      <li class="products__item slick-slide">
        <div class="products__image-wrapper image-wrapper--violet">
          <img
            srcset="
              ./assets/images/products/headphones-violet@1x.png 1x,
              ./assets/images/products/headphones-violet@2x.png 2x
            "
            src="./assets/images/products/headphones-violet@1x.png"
            alt="headphones in violet color"
            class="products__image"
          />
        </div>
        <p class="products__meta">violet</p>
      </li>
      <li class="products__item slick-slide">
        <div class="products__image-wrapper image-wrapper--purple">
          <img
            srcset="
              ./assets/images/products/headphones-purple@1x.png 1x,
              ./assets/images/products/headphones-purple@2x.png 2x
            "
            src="./assets/images/products/headphones-purple@1x.png"
            alt="headphones in purple color"
            class="products__image"
          />
        </div>
        <p class="products__meta">purple</p>
      </li>
      <li class="products__item slick-slide">
        <div class="products__image-wrapper image-wrapper--blue">
          <img
            srcset="
              ./assets/images/products/headphones-blue@1x.png 1x,
              ./assets/images/products/headphones-blue@2x.png 2x
            "
            src="./assets/images/products/headphones-blue@1x.png"
            alt="headphones in blue color"
            class="products__image"
          />
        </div>
        <p class="products__meta">blue</p>
      </li>
    </ul>
  </div>
</div>