      <!-- NORMAL -->
      <defs>
        <linearGradient
          id="paint0_linear_138_104"
          x1="5.67393"
          y1="27.4211"
          x2="27.4722"
          y2="22.5455"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#48C8FF"></stop>
          <stop offset="1" stop-color="#FF5BCB"></stop>
        </linearGradient>
        <linearGradient
          id="paint1_linear_138_104"
          x1="-5.94288"
          y1="40.2696"
          x2="40.3785"
          y2="29.909"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#48C8FF"></stop>
          <stop offset="1" stop-color="#FF5BCB"></stop>
        </linearGradient>
      </defs>
      <!-- HOVER -->
      <defs>
        <linearGradient
          id="paint0_linear_429_92"
          x1="7.39958"
          y1="27.78"
          x2="29.9305"
          y2="21.4374"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.447917" stop-color="#48C8FF" />
          <stop offset="1" stop-color="#FF5BCB" />
        </linearGradient>
        <linearGradient
          id="paint1_linear_429_92"
          x1="-2.27587"
          y1="41.0322"
          x2="45.6023"
          y2="27.5543"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.447917" stop-color="#48C8FF" />
          <stop offset="1" stop-color="#FF5BCB" />
        </linearGradient>
      </defs>
      <!-- CLICK -->
      <defs>
        <linearGradient
          id="paint0_linear_439_92"
          x1="7.39958"
          y1="27.78"
          x2="29.9305"
          y2="21.4374"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#48C8FF" />
          <stop offset="0.378125" stop-color="#FF5BCB" />
        </linearGradient>
        <linearGradient
          id="paint1_linear_439_92"
          x1="-2.27587"
          y1="41.0322"
          x2="45.6023"
          y2="27.5543"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#48C8FF" />
          <stop offset="0.378125" stop-color="#FF5BCB" />
        </linearGradient>
      </defs>